body {
  background-color: #eee;
  color: #333;
  font: 13px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Lucida", sans-serif;
}

#PageDiv {
  max-width: 700px;
  width: 80%;
  margin: 3em auto;
  background-color: #fff;
  padding: 2em 4em;
  border: 1px solid #ccc;
}

label {
  display: block;
}

.comments {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

.comments li {
  margin: 1em 0;
  padding: 0;
  overflow: auto;
}

.name, .date {
  float: left;
  margin-right: .5em;
  color: #666;
}

.edit {
  color: #666;
  float: right;
}

.metadata {
  display: block;
  overflow: auto;
}