body {
  background-color: #eee;
  color: #333;
  font: 13px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Lucida", sans-serif;
}

#PageDiv {
  max-width: 700px;
  width: 80%;
  margin: 3em auto;
  background-color: #fff;
  padding: 2em 4em;
  border: 1px solid #ccc;
}

label {
  display: block;
}

.comments {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

.comments li {
  margin: 1em 0;
  padding: 0;
  overflow: auto;
}

.name, .date {
  float: left;
  display: inline-block;
  margin-right: .5em;
  color: #666;
}

.name {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #eee;
  overflow: hidden;
}

.edit_link {
  color: #666;
  float: right;
  display: inline-block;
}

.metadata {
  display: block;
  clear: both;
  overflow: auto;
  padding: .5em 0;
  border-bottom: 2px solid #eee;
}

.flash.error {
  padding: 0 1em;
  border: 1px solid #993A2A;
  background-color: #F4BFB3;
}