body {
  background-color: #eee;
  color: #333;
  font: 13px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Lucida", sans-serif;
}

#PageDiv {
  max-width: 700px;
  width: 80%;
  margin: 3em auto 1em;
  background-color: #fff;
  padding: 2em 4em;
  border: 1px solid #ccc;
}

label {
  display: block;
}

.messages {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

.messages li {
  margin: 1em 0;
  padding: 0;
  overflow: auto;
}

.name, .date {
  float: left;
  display: inline-block;
  margin-right: .5em;
  color: #666;
}

.name {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #eee;
  overflow: hidden;
}

.edit_link {
  color: #666;
  float: right;
  display: inline-block;
}

.metadata {
  display: block;
  clear: both;
  overflow: auto;
  padding: .5em 0;
  border-bottom: 2px solid #eee;
  color: #888;
  font-size: smaller;
}

.flash {
  padding: 1em 3em;
  border: 1px solid #2D9932;
  background-color: #CBF4B9;
}

.flash.error {
  border: 1px solid #993A2A;
  background-color: #F4BFB3;
}

footer {
  font-size: smaller;
  text-align: center;
  color: #888;
  margin-bottom: 4em;
}

a {
  color: #273499;
}

span.commenter {
  display: block;
  color: #777;
  padding-bottom: .3em;
}

fieldset {
  border: 1px solid #ccc;
  padding: 0.3em 2em;
}

fieldset input, fieldset textarea {
  box-sizing: border-box;
  width: 100%;
}

fieldset input[type="submit"] {
  width: auto;
}

section h1 {
  font-size: 2em;
}

pre {
  border: 1px solid #ccc;
  padding: 1em 2em;
  background-color: #eee;
  color: #666;
  overflow: auto;
}